<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationIsSceneBasedApplication</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>InterVariable.ttf</string>
		<string>InterVariable-Italic.ttf</string>
		<string>CaveatBold.ttf</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>cloudpad-purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIcon-purple</string></array>
				<key>UIPrerenderedIcon</key><false/>
			</dict>
			<key>cloudpad-rose</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIcon-rose</string></array>
				<key>UIPrerenderedIcon</key><false/>
			</dict>
			<key>cloudpad-sky</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIcon-sky</string></array>
				<key>UIPrerenderedIcon</key><false/>
			</dict>
			<key>cloudpad-mint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIcon-mint</string></array>
				<key>UIPrerenderedIcon</key><false/>
			</dict>
			<key>cloudpad-gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIcon-gold</string></array>
				<key>UIPrerenderedIcon</key><false/>
			</dict>
			<key>cloudpad-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIcon-orange</string></array>
				<key>UIPrerenderedIcon</key><false/>
			</dict>
			<key>cloudpad-ink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIcon-ink</string></array>
				<key>UIPrerenderedIcon</key><false/>
			</dict>
		</dict>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>cloudpad uses Face ID to protect your Codes pad</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
